{$SITE_ADDRESS:localhost:80} {
	root * /srv
	encode gzip zstd

	@websocket {
		path_regexp colyseus_room ^/[A-Za-z0-9_-]+/[A-Za-z0-9_-]+$
	}

	route {
		reverse_proxy /matchmake* server:2567
		reverse_proxy @websocket server:2567
		try_files {path} /index.html
		file_server
	}
}

{$BACKEND_SITE_ADDRESS:office.localhost} {
	encode gzip zstd
	reverse_proxy server:2567
}
